@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mona, 'Mona');
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.font-s-75 {
  --wdth-75: 75;
  font-variation-settings: "wdth" var(--wdth-75);
}

.font-s-100 {
  --wdth-100: 100;
  font-variation-settings: "wdth" var(--wdth-100);
}

.font-s-125 {
  --wdth-125: 125;
  font-variation-settings: "wdth" var(--wdth-125);
}

.next-error-h1 {
  border-right: 1px solid rgba(255, 255, 255, .45)
}

.header-sec::after {
  background: linear-gradient(90deg, #050505 28%, hsla(0, 0%, 0%, 0.98) 20%, hsla(0, 0%, 0.4%, 0.97) 25%, hsla(0, 0%, 0%, 0.95) 35%, hsla(0, 0%, 0%, 0.94) 40%, hsla(0, 0%, 0.8%, 0.92) 45%, hsla(0, 0%, 0.8%, 0.9) 50%, hsla(0, 6.7%, 2.9%, 0.87) 55%, hsla(0, 3%, 6.5%, 0.82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0));
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: -200px;
  top: 0;
  z-index: -1;
}

.overlay-img {
  background-position: 200px 57%;
}
@media (min-width:768px) {
  .overlay-img::after {
    background: linear-gradient(0deg, #000 0, hsla(0, 0%, 0%, 0.99) 1.62%, hsla(0, 0%, 0%, 0.95) 3.1%, hsla(0, 0%, 0%, 0.89) 4.5%, hsla(0, 0%, 2.7%, 0.82) 5.8%, hsla(0, 2.9%, 6.9%, 0.74) 7.06%, hsla(0, 4.8%, 8.2%, 0.65) 8.24%, hsla(0, 2.9%, 13.7%, 0.6) 9.42%, hsla(0, 2.2%, 8.8%, 0.45) 10.58%, hsla(0, 3.7%, 10.6%, 0.35) 11.76%, hsla(0, 5%, 7.8%, 0.26) 12.94%, hsla(0, 0%, 9%, .175) 14.2%, hsla(0, 2.9%, 6.9%, 0.11) 15.5%, hsla(0, 0%, 9%, .049) 16.9%, hsla(0, 0%, 0%, 0.01) 18.38%, hsla(0, 4.7%, 21%, 0) 20%);
    content: "";
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.txt {
  max-width: 800px;
  padding: 16px 32px 64px 0;
  position: relative;
  width: 35%;
}

.m-link__underline {
  @apply relative isolate no-underline after:absolute after:right-[.05em] after:bottom-0 after:left-[.05em] after:block after:-z-[1] after:h-px after:bg-gray-400 after:transition-transform after:scale-x-100 after:origin-bottom-left hover:after:scale-x-0 hover:after:origin-bottom-right before:absolute before:inset-0 before:-z-[1] before:block before:bg-gray-300/75 before:transition-transform before:scale-x-0 before:origin-bottom-right hover:before:scale-x-100 hover:before:origin-bottom-left hover:text-black duration-150
}

.m-link {
  @apply relative isolate no-underline before:absolute before:inset-0 before:-z-[1] before:block before:bg-gray-300/75 before:transition-transform before:scale-x-0 before:origin-bottom-right hover:before:scale-x-100 hover:before:origin-bottom-left hover:text-black duration-150;
}